<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script>
         function callfun(obj){
            let noimg = "/gfx/default.png";
            obj.src=noimg;
        }
    </script>
</head>
<body>
    <nav>
        <ul id="navList">
            <li><a href="/upload">upload</a></li>
            <li><a href="/filemanager">filemanager</a></li>
            <li><a href="/info">info</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>