<div id="main">
    <div id="left">
        <div id="cont">
            <h1>filemanager</h1>
            <a href="/delete" class="red">usuń dane o plikach z tablicy</a>
        </div>
    </div>
    <div id="right">
        <table>
            <tr>
                <th>id</th>
                <th>obraz</th>
                <th>name</th>
                <th>size</th>
                <th>type</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
            </tr>
            {{#each files}}
            {{> fileRow}}
            {{/each}}
        </table>
    </div>
</div>