body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    height: 100vh;
}

nav {
    background-color: rgb(31, 90, 199);
}

#navList {
    display: flex;
    list-style-type: none;
    margin: 0;
}

#navList>li {
    padding: 20px;
}

#navList>li>a {
    font-size: 30px;
    color: #ffffff;
}

#main {
    position: absolute;
    top: 79px;
    bottom: 0px;
    width: 100%;
    /* height: 100%; */
    display: flex;
}

#left {
    background-color: #eeeeee;
    height: 100%;
    width: 20vw;
    display: flex;
    justify-content: center;
}

h1 {
    margin: 0;
    padding: 20px;
    color: #aaaaaa;
}

#right {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.wrapper {
    padding: 100px;
}

.wrapper>input {
    font-size: 40px;

}

.red {
    color: red;
    font-size: 20px;
}

.row {
    display: flex;
}

td {
    /* height: 100px; */
    padding: 30px;
    /* max-width: 200px; */
    /* overflow: auto; */
}

th {
    padding: 30px;
}

img {
    width: 50px;
}

table {
    width: 100%;
}

p {
    padding: 20px;
}